{% extends "../base.html" %}

{% block body_block %}
	<div class='ui grid'>
	    <div class='row'>
	        <div class='ten wide column'>
	       		<form method="POST" action="{% url 'vaga-dev' %}" class='ui form'>
                   {% csrf_token %}
                    <h2 class='ui header'>
                        <i class="asterisk icon"></i>
                        <div class="content">
                            <div class='sub header'>Prencha os campos abaixo.</div>
                        </div>
                    </h2>
                    {% if messages %}
						{% for message in messages %}
							{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
								<div class="error-label">
									{{message}}
								</div>
							{% else %}
						   		<script type="text/javascript">
				        			alert('{{ message }}');
								</script>
								{% endif %}
					    {% endfor %}
					{% endif %}
                    <!-- {{ form.as_p }} -->
                    <div class="nine fields">
                    	<fieldset>
                    		<legend><span class="number">1</span>Dados do Candidato</legend>
                    		<div class='field'>
	                            <label>Nome * 
	                            	<div>
			                        	{{ form.nome }}
			                            {% if form.nome.errors %}
			                            <div class="error-label">
			                                {{ form.nome.errors }}
			                            </div>
			                            {% endif %}
	                        		</div>
	                            </label>
	                        </div>
	                        <div class='field'>
	                            <label>Email *
	                            	<div>
		                                {{ form.email }}
			                            {% if form.email.errors %}
			                            <div class="error-label">
			                                {{ form.email.errors }}
			                            </div>
			                            {% endif %}
	                            	</div>
	                            </label>
	                        </div>
                    	</fieldset>
                        <fieldset>
           					<legend><span class="number">2</span>Avalie seu conhecimento de 0 a 10 nos seguintes itens:</legend>
                        	<div class='field'>
	                            <label>HTML
                            	 	<div>
		                                {{ form.nivel_html }}
			                            {% if form.nivel_html.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_html.errors }}
			                            </div>
			                            {% endif %}
	                            	</div>
	                            </label>
	                           
	                        </div>
	                        <div class='field'>
	                            <label>CSS
	                            	<div>
		                                {{ form.nivel_css }}
			                            {% if form.nivel_css.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_css.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                            
	                        </div>
	                        <div class='field'>
	                            <label>Javascript
	                            	<div>
		                                {{ form.nivel_js }}
			                            {% if form.nivel_js.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_js.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                        </div>
	                        <div class='field'>
	                            <label>Python
                            	 	<div>
		                                {{ form.nivel_python }}
			                            {% if form.nivel_python.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_python.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                        </div>
	                        <div class='field'>
	                            <label>Django
                            		<div>
		                                {{ form.nivel_django }}
			                            {% if form.nivel_django.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_django.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                        </div>
	                        <div class='field'>
	                            <label>iOS
                            		<div>
		                                {{ form.nivel_ios }}
			                            {% if form.nivel_ios.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_ios.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                        </div>
	                        <div class='field'>
	                            <label>Android
	                            	<div>
		                                {{ form.nivel_android }}
			                            {% if form.nivel_android.errors %}
			                            <div class="error-label">
			                                {{ form.nivel_android.errors }}
			                            </div>
			                            {% endif %}
		                            </div>
	                            </label>
	                        </div>
                        </fieldset>
                    </div>
                    <button type="submit" class="ui verde button">Salvar</button>
                </form>
	        </div>
	    </div>
	</div>
{% endblock body_block %}