<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>VagaDev</title>
		<link rel="stylesheet" href="{% static 'css/vagadev.css' %}">
	 	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>

	    <div class="page-header">
	        <h1>Vaga desenvolvedor</h1>
	    </div>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	          	{% block body_block %}
		        {% endblock %}
	            </div>
	        </div>
	    </div>

	</body>
</html>